@import 'normalize.css';

html, body, #app {
    width: 100%;
    height: 100%;
}
body {
    font-size: calc(--fontSize);
    background-color: #fff;
}
#app {
    lost-align: center;
}

.logo-fallback {
	width: 320px;
	height: 320px;
}
